{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/to_get_back.css' %}">
    <br>
    {% include "navbar.html" %}
    <div id="add"><a href="{% url 'to-get-back-create' %}">+</a></div>
    <div class="money-table glass">
        <ul>
            {% for instance in object_list %}
                <li><a href="{% url 'to-get-back-details' instance.id %}">{{ instance.title }} - {{ instance.amount }}zł<br><span id="short-description">{{ instance.short_description }}</span></a></li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}